<div class="container m-0 p-0">
    <div class="row d-flex flex-column align-content-center">
        <h1 class="mb-3"> Eat The Burger!</h1>
        <div class="create-form-title p-2 mb-3">
        <img class="d-flex align-self-center m-2"src="https://pixabay.com/get/52e9d0464c51ac14f6da8c7dda29317a1c3ddde7554c704c7d2679d7904fcd5e_1280.png" alt="burger" height="150" width="150">
                <form class="text-center toonchee">
                    <div class="form-group">
                         <input type="text" id="burger-input" name="name">
                    </div>
                            <button type="submit" class="btn btn-danger" id="add-burg-btn">Add Burger</button>
                </form>
                </div>
    </div>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-3 d-flex flex-column align-items-center available-burg-col">
            <h4>Available Burgers</h4>
            <ul class="p-0">
                {{#each burgersArr}}
                {{#unless devoured}}
                {{> burgers/burger-block}}
                {{/unless}}
                {{/each}}
            </ul>
        </div>
     
<div class="col-md-2"></div>
        <div class="col-md-3 d-flex flex-column align-items-center devoured-burg-col">
            <h4>Devoured Burgers</h4>
            <ol class="p-0">
                {{#each burgersArr}}  
                {{#if devoured}} 
                {{> burgers/burger-block}}
                {{/if}}
                {{/each}}
            </ol>
        </div>

<div class="col-md-2"></div>
    </div>
     <div class="row footer">
         <div class="col-md-12 m-3"></div>
     </div>
</div>