{{#unless devoured}}
<li class="available d-flex align-items-center justify-content-between">
    <h5>{{ name }}</h5>
    <button type="button" class="devour btn btn-success m-2" data-id="{{ id }}">
        Eat the Burger
    </button>
</li>
{{/unless}}

{{#if devoured}}
<li class="devoured d-flex align-items-center justify-content-between devoured-item">
    <h5>{{ name }}</h5>
</li>
{{/if}}